body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

#body {
  margin: 0 auto;
  text-align: left; }

.pl-entry {
  margin-bottom: 40px;
  text-align: center; }
  .pl-entry .pl-box {
    width: 550px;
    margin: 0 auto;
    position: relative;
    text-align: left; }
  .pl-entry .pl-date {
    text-align: right;
    position: absolute;
    left: -220px;
    top: 0;
    font-size: 22px;
    letter-spacing: -2px;
    color: #4FA7FF;
    min-width: 200px; }
  .pl-entry .pl-topic {
    font-size: 22px;
    letter-spacing: 20px; }
    .pl-entry .pl-topic .lang {
      opacity: 0.3;
      background-position: right top;
      background-repeat: no-repeat;
      color: red;
      height: 30px;
      float: right;
      width: 30px; }
      .pl-entry .pl-topic .lang[lang="de"] {
        background-image: url("../images/de.png"); }
      .pl-entry .pl-topic .lang[lang="en"] {
        background-image: url("../images/en.png"); }

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px; }
  h2 a {
    text-decoration: none;
    letter-spacing: -1px; }

#footer {
  text-align: center;
  color: #ddd; }
