!!! 5
%html
  %head
    %title {{ site_title }}
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}
    %link{:href => 'feed/index.xml', :rel => 'alternate', :type => 'application/rss+xml', :title => "{{ site_title }} - Combined"}      
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/screen.css"}
  %body
    %header.container
      %h1
        {{{ header }}}
        %small {{{ subheader }}}

    #content.container
      .row
        .col-md-8
          {{{ posts }}}

        %aside.bloglinks.col-md-4
          %nav
            {{{ blogroll }}}
    %footer.container
      Thank you for using - have fun










