!!! 5
%html
  %head
    %title your mom
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/screen.css"}
  %body
    %header.container
      %h1 Planet Dog Blogs

    #content.container
      .row
        .col-md-8
          :plain
            %%%%CONTENT%%%%

        %aside.bloglinks.col-md-4
          %nav
            :plain
              %%%%BLOGLINKS%%%%
    %footer.container
      Thank you for using - have fun
