.pl-entry{:lang => "{{ lang }}"}
  .pl-box.panel.panel-default
    .panel-heading
      .pl-date.popover.left
        .arrow
        .popover-title {{ date }}

      %h2.pl-topic.panel-title
        .lang{:lang => "{{ lang }}"}
        %a{:href => "{{url}}"} {{ title }}
    .panel-body
      .pl-content {{{ summary }}}
