body
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif

.popover
  display: block
  position: relative
  border-color: rgba(0, 0, 0, 0.07)
  box-shadow: none
  &.left > .arrow
    border-left-color: rgba(0, 0, 0, 0.07)

  .popover-content
    -moz-hyphens: auto
    -o-hyphens: auto
    -webkit-hyphens: auto
    -ms-hyphens: auto
    hyphens: auto


.pl-entry
  .pl-topic
    .lang
      opacity: .3
      background-position: right top
      background-repeat: no-repeat
      color: red
      height: 30px
      float: right
      width: 30px
      &[lang="de"]
        background-image: url("../images/de.png")
      &[lang="en"]
        background-image: url("../images/en.png")

.bloglinks



footer
  text-align: center
  color: #ccc
