%article.container-fluid.pl-entry{:lang => "{{ lang }}"}
  .row
    .col-md-3
      .pl-date
        {{{ date }}}
      .pl-tagline
        %ul
          {{{ tags }}}
    .col-md-1
    .col-md-5
      %h2.pl-topic{:lang => "{{ lang }}"}
        %a{:href => "{{url}}"} {{ title }}
      .pl-content
        %a{:href => "{{blog.url}}", :title => "{{blog.title}}"}
        %p
          {{{ text }}}
    .col-md-3
      %aside.pl-infobox
        .pl-lang{:lang => "{{ lang }}"}
        %h3.topic
          %a{:href => "{{blog.url}}", :title => "{{blog.title}}"}
            %strong {{{ blog_title }}}
            %small {{{ description }}}
  // .row
  //   .col-md-4
  //   .col-md-5
  //     .row.well
  //       .col-md-3
  //         .pl-aimg
  //           %a{:href => "{{blog.url}}", :title => "{{blog.title}}"}
  //           %img{:src => "{{blog.image}}"}
  //       .col-md-9
  //         %h4
  //           %a{:href => "{{blog.url}}"}
  //             {{{ blog_title }}}
  //             %small {{{ description }}}
  //   .col-md-3
          
        

