body
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-size: 15px

.pl-entry
  background-color: transparent
  margin-bottom: 30px
  border-bottom: 1px solid #E6E7E8
  padding-bottom: 25px
  position: relative
  .pl-aimg
    img
      max-width: 72px
      max-height: 72px
      border-radius: 10px
  .pl-topic
    letter-spacing: -2px
    a
      color: #184785
  .pl-lang
    opacity: .3
    background-position: right top
    background-repeat: no-repeat
    position: absolute
    top: 32px
    left: -10px
    height: 36px
    width: 36px
    &[lang="de"]
      background-image: url("../images/de.png")
    &[lang="en"]
      background-image: url("../images/en.png")
  .pl-content
  .pl-date
    letter-spacing: -2px
    color: #DFE6F0
    font-size: 30px
    margin-top: 16px
    text-align: right
  .pl-mobile-sub
    margin-bottom: 15px
    font-style: italic
  .pl-tagline
    text-align: right
    color: #BFCAD9
    ul
      margin-top: 5px
      list-style-type: none
  .pl-infobox
    margin-top: 30px
    font-size: 30px
    color: #DFE6F0
    small
      color: #DFE6F0
    a
      text-decoration: none
      color: #DFE6F0
      &:hover
        color: #111
    .topic
      padding-left: 20px


#content

#pdog
  background-image: url("../images/pdog.jpg")
  position: absolute
  bottom: 0
  right: 0
  opacity: .3
  width: 450px
  height: 450px


footer
  text-align: center
  color: #ccc
